In [2]:
import pandas as pd
import numpy as np

In [3]:
idol_withid = pd.read_csv('idol_list_idfix.csv', encoding='euc-kr')
idol_withid.head()

,artist,artist_eng,member_num,leader_name,gender,agency,idol_id
0,서태지와 아이들,SeoTaiji And Boys,3,서태지,남,요요 기획,100161.0
1,더 블루,The Blue,2,손지창,남,SM 엔터테인먼트,180144.0
2,잼,Zam,5,조진수,혼,DSP 미디어,225786.0
3,에스오에스,S.O.S,4,NaN,여,삼포니 레코드,101645.0
4,솔리드,Solid,3,정재윤,남,비앤비,100037.0

In [4]:
idol_withid[idol_withid.artist == '신화']

,artist,artist_eng,member_num,leader_name,gender,agency,idol_id
28,신화,SHINHWA,6,에릭,남,신화 컴퍼니?(결성은?SM 엔터테인먼트),100078.0

In [5]:
# 불필요한 열 드랍
idol_withid = idol_withid.drop(idol_withid.columns[[1, 3]], axis=1)
idol_withid.head(3)

     artist member_num gender     agency   idol_id
0  서태지와 아이들          3      남      요요 기획  100161.0
1      더 블루          2      남  SM 엔터테인먼트  180144.0
2         잼          5      혼    DSP 미디어  225786.0

In [6]:
# idol_id int로 수정
idol_withid = idol_withid[np.isfinite(idol_withid['idol_id'])].reset_index(inplace=False)
idol_withid['idol_id'] = idol_withid['idol_id'].astype(int)
idol_withid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 6 columns):
index         332 non-null int64
artist        332 non-null object
member_num    332 non-null object
gender        331 non-null object
agency        313 non-null object
idol_id       332 non-null int32
dtypes: int32(1), int64(1), object(4)
memory usage: 14.3+ KB

### 소속사 전처리

In [7]:
id1 = idol_withid.copy()

In [8]:
id1.agency.unique()

array(['요요 기획', 'SM 엔터테인먼트', 'DSP 미디어', '삼포니 레코드', '비앤비',
       '예당 음향 (예당 컴퍼니)', '라인 기획', nan, '서울인 프로덕션', '쿨컴퍼니', '더 터보 컴퍼니',
       '팀 엔터테인먼트', '뮤직 팩토리', '매스컴', '베토벤 뮤직', 'YG 엔터테인먼트?(결성은?DSP 미디어)',
       '희레코드', 'DR 뮤직', 'YG 엔터테인먼트', '신화 컴퍼니?(결성은?SM 엔터테인먼트)', '조선 음향',
       '드림 엔터테인먼트', 'H2 미디어?(결성은?SM 엔터테인먼트)', 'iHQ?(싸이더스)', 'GM 기획',
       '동아 기획', 'O.G SOUND', '호 엔터테인먼트', '은성 기획', '키스 엔터테인먼트', '윈섬 미디어',
       '예전 미디어', '상마인드', '신나라 뮤직', '미래 엔터테인먼트', 'H2 엔터테인먼트', '스타제국',
       'Astars 엔터테인먼트', '자이브 레코드', 'GM 엔터테인먼트', '에이치앤제이', '스타 월드 엔터테인먼트',
       '싸이더스 HQ', '산타뮤직', '시즌 엔터테인먼트', 'Blue 엔터테인먼트', 'STN 엔터테인먼트',
       'MPLAN 엔터테인먼트', '예스플러스 엔터테인먼트', 'NH 미디어', 'ADbell 엔터테인먼트',
       '오렌지엔터테인먼트', '굿 엔터테인먼트', '씽 엔터테인먼트', '미스틱 엔터테인먼트?(결성은?내가네트워크)',
       '예당 엔터테인먼트', '마루엔터테인먼트', '플래닛구공오', 'J&H 미디어', 'FNC 엔터테인먼트',
       '로엔 엔터테인먼트', 'JYP 엔터테인먼트', 'TN 엔터테인먼트', '예전미디어', '제이튠 캠프',
       '큐브 엔터테인먼트', '플레디스 엔터테인먼트', 'MBK 엔터테인먼트', '이연 엔터테인먼트', 'TS 엔터테인먼트',
       '코어콘텐츠미디어', '씨제스 엔터테인먼트', '씽 엔터테인먼트 (결성은 오픈월드 엔터테인먼트)',
       '울림 엔터테인먼트', '티오피 미디어', '아이에스 엔터 미디어 그룹', 'YYJ 엔터테인먼트',
       '스타쉽 엔터테인먼트', '드림티 엔터테인먼트', '티모 엔터테인먼트', '미디어라인', 'Jang 엔터테인먼트',
       '에이치투 미디어', 'WM 엔터테인먼트', '세븐시즌스', 'C2K 엔터테인먼트', '정글 엔터테인먼트',
       '해피페이스 엔터테인먼트', '브레이브 엔터테인먼트', '플랜에이 엔터테인먼트', '스타플레닛',
       'N.A.P. 엔터테인먼트', '젤리피쉬 엔터테인먼트', '아뮤즈 코리아', '바나나컬쳐', '조은 엔터테인먼트',
       '바나나컬쳐 엔터테인먼트', 'CJ E&M', '판타지오', '하은엔터테인먼트', '빅히트 엔터테인먼트,?쏘스 뮤직',
       '크롬 엔터테인먼트', '디비즈니스 엔터테인먼트', '후너스 엔터테인먼트',
       '스타게이즈 엔터테인먼트 (결성은?제이튠 캠프)', '알파 엔터테인먼트', '지앤지 프로덕션', '빅스타 엔터테인먼트',
       '드림스타 엔터테인먼트', '엔트리 엔터테인먼트', '내가네트워크', '빅히트 엔터테인먼트',
       '유니버설 뮤직. 해피트라이브 엔터테인먼트', '제이엠스타 엔터테인먼트', '지앤아이 엔터테인먼트',
       '일광폴라리스 엔터테인먼트', 'YNB 엔터테인먼트', '마피아 레코드', '위닝인사이트엠', 'GH 엔터테인먼트',
       '미스틱 엔터테인먼트', 'DoMA 엔터테인먼트', '골드문 뮤직, 에렌 엔터테인먼트',
       'SM 엔터테인먼트.?울림 엔터테인먼트', '더 잭키 찬 그룹 코리아', '에이치오컴퍼니', '아인홀딩스',
       '팬 엔터테인먼트', '위에화 엔터테인먼트', '케이오사운드/아더앤에이블/스타크루이엔티', '다른별 엔터테인먼트',
       '소니뮤직', 'CJ E&M,?B2M 엔터테인먼트', '아시아브릿지 엔터테인먼트', 'RBW',
       '두리퍼블릭 엔터테인먼트', 'NH 미디어.?내가네트워크', '크롬엔터테인먼트', '제니스 미디어 콘텐츠',
       'CT 엔터테인먼트', '에이팀', '위드메이', '쏘스 뮤직', '해피트라이브 엔터테인먼트. 위드에이치씨',
       'TK 엔터테인먼트', '로엔 엔터테인먼트, 뷰가 엔터테인먼트', 'CI ENT', 'CJ E&M. 라이브웍스 컴퍼니',
       '소니 뮤직 엔터테인먼트', '스타쉽 엔터테인먼트,?위에화 엔터테인먼트', '박스 미디어', 'YMC 엔터테인먼트',
       '한국방송공사', '인터렉티브미디어믹스', 'MLD 엔터테인먼트', '어라운드어스 엔터테인먼트',
       '비트인터렉티브 엔터테인먼트', '아임어비비', '뮤직웍스', '뮤직케이 엔터테인먼트', '프로엔터테인먼트',
       '페이브 엔터테인먼트', '바이칼 엔터테인먼트', 'MMO 엔터테인먼트', '크래커 엔터테인먼트', '마루기획',
       '뉴플래닛 엔터태인먼트', '블록베리 크리에이티브', '스타프로 엔터테인먼트', 'NW STUDIOS',
       'GH엔터테인먼트', '더블엑스 엔터테인먼트', 'C9 엔터테인먼트', 'MBK엔터테인먼트', '스톤뮤직 엔터테인먼트'],
      dtype=object)

엔터테인먼트라는 단어가 굉장히 많고 사실상 SM 엔터테인먼트는 SM으로 부르기 때문에 엔터테인먼트를 제거하기로 결정.

In [9]:
id1.agency = id1.agency.str.replace('엔터테인먼트', '')
id1.agency.unique()

array(['요요 기획', 'SM ', 'DSP 미디어', '삼포니 레코드', '비앤비', '예당 음향 (예당 컴퍼니)',
       '라인 기획', nan, '서울인 프로덕션', '쿨컴퍼니', '더 터보 컴퍼니', '팀 ', '뮤직 팩토리',
       '매스컴', '베토벤 뮤직', 'YG ?(결성은?DSP 미디어)', '희레코드', 'DR 뮤직', 'YG ',
       '신화 컴퍼니?(결성은?SM )', '조선 음향', '드림 ', 'H2 미디어?(결성은?SM )',
       'iHQ?(싸이더스)', 'GM 기획', '동아 기획', 'O.G SOUND', '호 ', '은성 기획', '키스 ',
       '윈섬 미디어', '예전 미디어', '상마인드', '신나라 뮤직', '미래 ', 'H2 ', '스타제국',
       'Astars ', '자이브 레코드', 'GM ', '에이치앤제이', '스타 월드 ', '싸이더스 HQ', '산타뮤직',
       '시즌 ', 'Blue ', 'STN ', 'MPLAN ', '예스플러스 ', 'NH 미디어', 'ADbell ',
       '오렌지', '굿 ', '씽 ', '미스틱 ?(결성은?내가네트워크)', '예당 ', '마루', '플래닛구공오',
       'J&H 미디어', 'FNC ', '로엔 ', 'JYP ', 'TN ', '예전미디어', '제이튠 캠프', '큐브 ',
       '플레디스 ', 'MBK ', '이연 ', 'TS ', '코어콘텐츠미디어', '씨제스 ',
       '씽  (결성은 오픈월드 )', '울림 ', '티오피 미디어', '아이에스 엔터 미디어 그룹', 'YYJ ',
       '스타쉽 ', '드림티 ', '티모 ', '미디어라인', 'Jang ', '에이치투 미디어', 'WM ',
       '세븐시즌스', 'C2K ', '정글 ', '해피페이스 ', '브레이브 ', '플랜에이 ', '스타플레닛',
       'N.A.P. ', '젤리피쉬 ', '아뮤즈 코리아', '바나나컬쳐', '조은 ', '바나나컬쳐 ', 'CJ E&M',
       '판타지오', '하은', '빅히트 ,?쏘스 뮤직', '크롬 ', '디비즈니스 ', '후너스 ',
       '스타게이즈  (결성은?제이튠 캠프)', '알파 ', '지앤지 프로덕션', '빅스타 ', '드림스타 ', '엔트리 ',
       '내가네트워크', '빅히트 ', '유니버설 뮤직. 해피트라이브 ', '제이엠스타 ', '지앤아이 ', '일광폴라리스 ',
       'YNB ', '마피아 레코드', '위닝인사이트엠', 'GH ', '미스틱 ', 'DoMA ',
       '골드문 뮤직, 에렌 ', 'SM .?울림 ', '더 잭키 찬 그룹 코리아', '에이치오컴퍼니', '아인홀딩스',
       '팬 ', '위에화 ', '케이오사운드/아더앤에이블/스타크루이엔티', '다른별 ', '소니뮤직',
       'CJ E&M,?B2M ', '아시아브릿지 ', 'RBW', '두리퍼블릭 ', 'NH 미디어.?내가네트워크', '크롬',
       '제니스 미디어 콘텐츠', 'CT ', '에이팀', '위드메이', '쏘스 뮤직', '해피트라이브 . 위드에이치씨',
       'TK ', '로엔 , 뷰가 ', 'CI ENT', 'CJ E&M. 라이브웍스 컴퍼니', '소니 뮤직 ',
       '스타쉽 ,?위에화 ', '박스 미디어', 'YMC ', '한국방송공사', '인터렉티브미디어믹스', 'MLD ',
       '어라운드어스 ', '비트인터렉티브 ', '아임어비비', '뮤직웍스', '뮤직케이 ', '프로', '페이브 ',
       '바이칼 ', 'MMO ', '크래커 ', '마루기획', '뉴플래닛 엔터태인먼트', '블록베리 크리에이티브',
       '스타프로 ', 'NW STUDIOS', 'GH', '더블엑스 ', 'C9 ', 'MBK', '스톤뮤직 '],
      dtype=object)

In [10]:
# 공백 제거, .제거, 결성은? 제거
id1.agency = id1.agency.str.replace(' ', '')
id1.agency = id1.agency.str.replace('.', '')
id1.agency = id1.agency.str.replace('결성은?', '')
id1.agency = id1.agency.str.replace(',', '')
# id1.agency = id1.agency.str.replace('?(', '')

id1.agency.unique()

array(['요요기획', 'SM', 'DSP미디어', '삼포니레코드', '비앤비', '예당음향(예당컴퍼니)', '라인기획',
       nan, '서울인프로덕션', '쿨컴퍼니', '더터보컴퍼니', '팀', '뮤직팩토리', '매스컴', '베토벤뮤직',
       'YG?(?DSP미디어)', '희레코드', 'DR뮤직', 'YG', '신화컴퍼니?(?SM)', '조선음향', '드림',
       'H2미디어?(?SM)', 'iHQ?(싸이더스)', 'GM기획', '동아기획', 'OGSOUND', '호',
       '은성기획', '키스', '윈섬미디어', '예전미디어', '상마인드', '신나라뮤직', '미래', 'H2',
       '스타제국', 'Astars', '자이브레코드', 'GM', '에이치앤제이', '스타월드', '싸이더스HQ',
       '산타뮤직', '시즌', 'Blue', 'STN', 'MPLAN', '예스플러스', 'NH미디어', 'ADbell',
       '오렌지', '굿', '씽', '미스틱?(?내가네트워크)', '예당', '마루', '플래닛구공오', 'J&H미디어',
       'FNC', '로엔', 'JYP', 'TN', '제이튠캠프', '큐브', '플레디스', 'MBK', '이연', 'TS',
       '코어콘텐츠미디어', '씨제스', '씽(오픈월드)', '울림', '티오피미디어', '아이에스엔터미디어그룹', 'YYJ',
       '스타쉽', '드림티', '티모', '미디어라인', 'Jang', '에이치투미디어', 'WM', '세븐시즌스',
       'C2K', '정글', '해피페이스', '브레이브', '플랜에이', '스타플레닛', 'NAP', '젤리피쉬',
       '아뮤즈코리아', '바나나컬쳐', '조은', 'CJE&M', '판타지오', '하은', '빅히트?쏘스뮤직', '크롬',
       '디비즈니스', '후너스', '스타게이즈(?제이튠캠프)', '알파', '지앤지프로덕션', '빅스타', '드림스타',
       '엔트리', '내가네트워크', '빅히트', '유니버설뮤직해피트라이브', '제이엠스타', '지앤아이', '일광폴라리스',
       'YNB', '마피아레코드', '위닝인사이트엠', 'GH', '미스틱', 'DoMA', '골드문뮤직에렌',
       'SM?울림', '더잭키찬그룹코리아', '에이치오컴퍼니', '아인홀딩스', '팬', '위에화',
       '케이오사운드/아더앤에이블/스타크루이엔티', '다른별', '소니뮤직', 'CJE&M?B2M', '아시아브릿지',
       'RBW', '두리퍼블릭', 'NH미디어?내가네트워크', '제니스미디어콘텐츠', 'CT', '에이팀', '위드메이',
       '쏘스뮤직', '해피트라이브위드에이치씨', 'TK', '로엔뷰가', 'CIENT', 'CJE&M라이브웍스컴퍼니',
       '스타쉽?위에화', '박스미디어', 'YMC', '한국방송공사', '인터렉티브미디어믹스', 'MLD', '어라운드어스',
       '비트인터렉티브', '아임어비비', '뮤직웍스', '뮤직케이', '프로', '페이브', '바이칼', 'MMO',
       '크래커', '마루기획', '뉴플래닛엔터태인먼트', '블록베리크리에이티브', '스타프로', 'NWSTUDIOS',
       '더블엑스', 'C9', '스톤뮤직'], dtype=object)

In [11]:
id1.agency = id1.agency.str.replace('?(', '', regex=False)
id1.agency.unique()

array(['요요기획', 'SM', 'DSP미디어', '삼포니레코드', '비앤비', '예당음향(예당컴퍼니)', '라인기획',
       nan, '서울인프로덕션', '쿨컴퍼니', '더터보컴퍼니', '팀', '뮤직팩토리', '매스컴', '베토벤뮤직',
       'YG?DSP미디어)', '희레코드', 'DR뮤직', 'YG', '신화컴퍼니?SM)', '조선음향', '드림',
       'H2미디어?SM)', 'iHQ싸이더스)', 'GM기획', '동아기획', 'OGSOUND', '호', '은성기획',
       '키스', '윈섬미디어', '예전미디어', '상마인드', '신나라뮤직', '미래', 'H2', '스타제국',
       'Astars', '자이브레코드', 'GM', '에이치앤제이', '스타월드', '싸이더스HQ', '산타뮤직', '시즌',
       'Blue', 'STN', 'MPLAN', '예스플러스', 'NH미디어', 'ADbell', '오렌지', '굿',
       '씽', '미스틱?내가네트워크)', '예당', '마루', '플래닛구공오', 'J&H미디어', 'FNC', '로엔',
       'JYP', 'TN', '제이튠캠프', '큐브', '플레디스', 'MBK', '이연', 'TS', '코어콘텐츠미디어',
       '씨제스', '씽(오픈월드)', '울림', '티오피미디어', '아이에스엔터미디어그룹', 'YYJ', '스타쉽',
       '드림티', '티모', '미디어라인', 'Jang', '에이치투미디어', 'WM', '세븐시즌스', 'C2K',
       '정글', '해피페이스', '브레이브', '플랜에이', '스타플레닛', 'NAP', '젤리피쉬', '아뮤즈코리아',
       '바나나컬쳐', '조은', 'CJE&M', '판타지오', '하은', '빅히트?쏘스뮤직', '크롬', '디비즈니스',
       '후너스', '스타게이즈(?제이튠캠프)', '알파', '지앤지프로덕션', '빅스타', '드림스타', '엔트리',
       '내가네트워크', '빅히트', '유니버설뮤직해피트라이브', '제이엠스타', '지앤아이', '일광폴라리스', 'YNB',
       '마피아레코드', '위닝인사이트엠', 'GH', '미스틱', 'DoMA', '골드문뮤직에렌', 'SM?울림',
       '더잭키찬그룹코리아', '에이치오컴퍼니', '아인홀딩스', '팬', '위에화',
       '케이오사운드/아더앤에이블/스타크루이엔티', '다른별', '소니뮤직', 'CJE&M?B2M', '아시아브릿지',
       'RBW', '두리퍼블릭', 'NH미디어?내가네트워크', '제니스미디어콘텐츠', 'CT', '에이팀', '위드메이',
       '쏘스뮤직', '해피트라이브위드에이치씨', 'TK', '로엔뷰가', 'CIENT', 'CJE&M라이브웍스컴퍼니',
       '스타쉽?위에화', '박스미디어', 'YMC', '한국방송공사', '인터렉티브미디어믹스', 'MLD', '어라운드어스',
       '비트인터렉티브', '아임어비비', '뮤직웍스', '뮤직케이', '프로', '페이브', '바이칼', 'MMO',
       '크래커', '마루기획', '뉴플래닛엔터태인먼트', '블록베리크리에이티브', '스타프로', 'NWSTUDIOS',
       '더블엑스', 'C9', '스톤뮤직'], dtype=object)

In [12]:
# idol_withid.agency.str.split('?', expand=True)
agency_split = id1.agency.str.split('?', expand=True)
agency_split.head()

        0     1
0    요요기획  None
1      SM  None
2  DSP미디어  None
3  삼포니레코드  None
4     비앤비  None

In [13]:
agency_split.columns = ['new', 'old']
agency_split.old = agency_split.old.str.replace(')', '', regex=False)

In [14]:
id1['agency_old'] = agency_split['old']
id1['agency_new'] = agency_split['new']
id1 = id1.drop('agency', axis=1)
id1.head()

   index    artist member_num gender  idol_id agency_old agency_new
0      0  서태지와 아이들          3      남   100161       None       요요기획
1      1      더 블루          2      남   180144       None         SM
2      2         잼          5      혼   225786       None     DSP미디어
3      3     에스오에스          4      여   101645       None     삼포니레코드
4      4       솔리드          3      남   100037       None        비앤비

In [15]:
id1 = id1.drop(id1.columns[0], axis=1)

## 크롤링해온 아티스트 정보 전처리하기

In [16]:
artist_info = pd.read_csv('artist_info.csv')
artist_info = artist_info.drop(artist_info.columns[0], axis=1)
artist_info.head(10)

,artist,melon_artist,artist_m,debut_y,debut_t,fan
0,서태지와 아이들,서태지와 아이들,"['서태지', '양현석', '이주노']",1992.03,난 알아요,"4,893"
1,더 블루,더 블루,"['손지창', '김민종']",1992 |너만을 느끼며,NaN,474
2,잼,잼,[],NaN,NaN,19
3,에스오에스,S.O.S,[],NaN,NaN,39
4,솔리드,솔리드,"['이준', '정재윤', '김조한']",1993.01,이젠 나를 (Give Me A Chance),"1,772"
5,듀스,듀스,"['이현도', '김성재']",1993.04,나를 돌아봐,"2,125"
6,노이즈,노이즈,[],1992.11,너에게 원한건,367
7,잉크,잉크,[],NaN,NaN,9
8,룰라,룰라,"['이상민', '고영욱', '김지현', '채리나']",1994.07,100일(日)째 만남,"1,415"
9,쿨,쿨 (COOL),"['이재훈 (쿨)', '김성수', '유리']",1994.10,너이길 원했던 이유,"12,606"

In [33]:
# 더블루 데뷔 날짜에 데뷔 날짜, 데뷔 곡이 함께 있어서 처리해주었음
artist_info.debut_y.loc[1] = '1922'
artist_info.debut_t.loc[1] = '너만을 느끼며'
artist_info.head()

,artist,melon_artist,artist_m,debut_y,debut_t,fan
0,서태지와 아이들,서태지와 아이들,"['서태지', '양현석', '이주노']",1992.03,난 알아요,"4,893"
1,더 블루,더 블루,"['손지창', '김민종']",1922,너만을 느끼며,474
2,잼,잼,[],NaN,NaN,19
3,에스오에스,S.O.S,[],NaN,NaN,39
4,솔리드,솔리드,"['이준', '정재윤', '김조한']",1993.01,이젠 나를 (Give Me A Chance),"1,772"

In [34]:
info1 = artist_info.copy()

In [35]:
info1['artist_m'] = info1['artist_m'].str.replace('[', '', regex=False)
info1['artist_m'] = info1['artist_m'].str.replace(']', '', regex=False)
info1['artist_m'] = info1['artist_m'].str.replace("'", '', regex=False)
info1.tail()

,artist,melon_artist,artist_m,debut_y,debut_t,fan
327,유니티,UNI.T,"의진, 예빈 (다이아), 앤씨아, 윤조, 이현주, 양지원 (스피카), 우희 (달샤벳...",2018.04,NaN,"1,691"
328,프리스틴 V,PRISTIN V,"나영, 결경, 로아, 은우, 레나",2018.05.28,NaN,"1,944"
329,스트레이 키즈,Stray Kids (스트레이 키즈),"방찬 (3RACHA), 우진, 리노, 창빈 (3RACHA), 현진, 한 (3RACH...",2017.11.01,NaN,"7,549"
330,구구단 세미나,구구단 세미나,"세정 (구구단), 미나, 나영",NaN,NaN,"1,634"
331,소녀시대 오지지,소녀시대-Oh!GG,"태연 (TAEYEON), 써니 (SUNNY), 유리 (YURI), 효연 (HYOYE...",NaN,NaN,"5,795"

In [36]:
info1.columns[1]

'melon_artist'

In [37]:
info1 = info1.drop(info1.columns[1], axis=1)
info1.head(2)

     artist       artist_m  debut_y  debut_t    fan
0  서태지와 아이들  서태지, 양현석, 이주노  1992.03    난 알아요  4,893
1      더 블루       손지창, 김민종     1922  너만을 느끼며    474

In [38]:
info1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 5 columns):
artist      332 non-null object
artist_m    332 non-null object
debut_y     274 non-null object
debut_t     219 non-null object
fan         332 non-null object
dtypes: object(5)
memory usage: 13.0+ KB

In [39]:
# 데뷔날짜의 년도만 뽑기 위해 .을 제거하고 컬럼을 int타입으로 변경한다.
info1.debut_y = info1.debut_y.str.replace('.', '', regex=False)
info1

,artist,artist_m,debut_y,debut_t,fan
0,서태지와 아이들,"서태지, 양현석, 이주노",199203,난 알아요,"4,893"
1,더 블루,"손지창, 김민종",1922,너만을 느끼며,474
2,잼,,NaN,NaN,19
3,에스오에스,,NaN,NaN,39
4,솔리드,"이준, 정재윤, 김조한",199301,이젠 나를 (Give Me A Chance),"1,772"
5,듀스,"이현도, 김성재",199304,나를 돌아봐,"2,125"
6,노이즈,,199211,너에게 원한건,367
7,잉크,,NaN,NaN,9
8,룰라,"이상민, 고영욱, 김지현, 채리나",199407,100일(日)째 만남,"1,415"
9,쿨,"이재훈 (쿨), 김성수, 유리",199410,너이길 원했던 이유,"12,606"
10,제트,,200310,Are You Gonna Be My Girl,852
11,터보,"김종국, 마이키, 김정남",199507,나 어릴 적 꿈,"9,394"
12,알이에프,"이성욱, 성대현",199503,고요속의 외침,612
13,스머프,,NaN,NaN,4
14,에이치오티,"토니 안, 문희준, 강타 (KANGTA), 장우혁, 이재원",199609,전사의 후예 (폭력시대),"15,892"
15,언타이틀,"유건형, 서정환",1996 |無題(무제),NaN,478
16,하모하모,"이성진, 천명훈",1996 |빠삐용 (그의 두통은 자유였다),NaN,94
17,아이돌,,NaN,NaN,144
18,구피,"신동욱, 박성호 (구피)",199611,많이많이,381
19,태사자,,199711 |도,NaN,397
20,엔알지,"천명훈, 노유민, 이성진",19971028,할 수 있어,"1,054"
21,오피피에이,,199801 |애국심(愛國心),NaN,246
22,티앤비,,1997 |비키니-Ⅰ,NaN,35
23,젝스키스,"은지원, 이재진, 김재덕, 강성훈, 장수원",19970415,학원별곡 (學園別曲),"48,343"
24,쎄쎄쎄,,1996 |아미가르 레스토랑,NaN,78
25,베이비복스,황연경,200701,Shee,254
26,에스이에스,"유진, 바다, 슈",199711,(`Cause) I`m Your Girl,"11,365"
27,원타임,"송백경, 태빈, TEDDY",199811,1tym,"2,236"
28,신화,"앤디, 에릭, 전진, 신혜성, M (이민우), 김동완",19980324,해결사,"42,626"
29,이글 파이브,,199804,궤도,117
...,...,...,...,...,...
302,바이칼,"도까, 케이빈, 호찬, 노아, 데이, 연우, 대웅",NaN,NaN,155
303,인투잇,"성현, 아이젝, 연태, 이인표, 인호, 지안, 현욱",20171026,NaN,831
304,더보이즈,"선우 (THE BOYZ), 주학년 (THE BOYZ), 현재 (THE BOYZ), ...",NaN,NaN,"9,081"
305,보너스베이비,"문희, 하윤, 가온, 공유, 다윤, 채현",20170101,우리끼리,516
306,빈챈현스S,"예빈 (다이아), 정채연, 기희현, 유니스",20161229,너는 달 지구,"1,077"
307,루비,"제니, 은진, 은채",20161231,13월 32일,860
308,에이치유비,"루이 (RUI), 효선, 예인, 서령, 체희",NaN,NaN,326
309,이달의 소녀 1/3,"희진 (이달의 소녀), 현진 (이달의 소녀), 하슬 (이달의 소녀), 비비 (이달의...",20170313,"지금, 좋아해 (Love & Live)","3,080"
310,립버블,"은별, 서린, 한비, 미래, 위니, 엘라, 리아",20170322,팝콘 (POPCORN),335
311,프리스틴,"유하, 레나, 로아, 예하나, 시연, 성연, 나영, 은우, 결경, 카일라",NaN,NaN,"13,701"
312,비사이드,,NaN,NaN,4
313,힌트,"나엘, 소금, 아라, 별아, 체리, 해솔, 혜진",NaN,NaN,192
314,엘리스,"소희, 가린, 유경, 혜성, 벨라",20170601,우리 처음,"2,498"
315,옆집소녀,"슬기 (SEULGI), 문별 (마마무), 유아 (오마이걸), 류수정 (러블리즈), ...",NaN,NaN,"3,627"
316,지지배,서진,20170615,다 너 때문이야,87
317,애플비,"샌디, 유림, 유지, 하은, 현민",20170801,우쭈쭈,205
318,위키미키,"최유정 (Weki Meki), 김도연 (Weki Meki), 지수연 (Weki Me...",NaN,NaN,"7,421"
319,구구단 오구오구,"미나, 혜연",20170810,ICE CHU,"1,541"
320,에스아이에스,"지해, 달, 민지, 가을, 앤, 세빈",20170825,느낌이 와,431
321,굿데이,"희진 (GOOD DAY), 지니, 체리, 채솔, 하은, 비바, 나윤, 지원, 보민, 럭키",20170830,Rolly,603
322,이달의 소녀 오드아이써클,"김립 (이달의 소녀), 진솔 (이달의 소녀), 최리 (이달의 소녀)",20170921,NaN,"3,077"
323,유앤비,"준 (U-Kiss), 의진, 호정, 필독 (BIGSTAR), 마르코, 지한솔, 대원...",20180407,감각,"3,063"
324,프로미스나인,"노지선, 송하영, 이새롬, 이채영, 이나경, 박지원, 이서연, 백지헌, 장규리",NaN,NaN,"5,108"
325,오마이걸 반하나,"효정 (오마이걸), 비니 (오마이걸), 아린 (오마이걸)",20180403,NaN,"3,392"
326,(여자)아이들,"소연, 미연, 수진, 우기, 슈화, 민니",20180502,NaN,"16,884"
327,유니티,"의진, 예빈 (다이아), 앤씨아, 윤조, 이현주, 양지원 (스피카), 우희 (달샤벳...",201804,NaN,"1,691"
328,프리스틴 V,"나영, 결경, 로아, 은우, 레나",20180528,NaN,"1,944"
329,스트레이 키즈,"방찬 (3RACHA), 우진, 리노, 창빈 (3RACHA), 현진, 한 (3RACH...",20171101,NaN,"7,549"
330,구구단 세미나,"세정 (구구단), 미나, 나영",NaN,NaN,"1,634"
331,소녀시대 오지지,"태연 (TAEYEON), 써니 (SUNNY), 유리 (YURI), 효연 (HYOYE...",NaN,NaN,"5,795"

In [40]:
info1.debut_y = info1['debut_y'].str[:4]
info1.head()

     artist       artist_m debut_y                   debut_t    fan
0  서태지와 아이들  서태지, 양현석, 이주노    1992                     난 알아요  4,893
1      더 블루       손지창, 김민종    1922                   너만을 느끼며    474
2         잼                    NaN                       NaN     19
3     에스오에스                    NaN                       NaN     39
4       솔리드   이준, 정재윤, 김조한    1993  이젠 나를 (Give Me A Chance)  1,772

### id1과 info1합치기

In [41]:
id1.head(3)

     artist member_num gender  idol_id agency_old agency_new
0  서태지와 아이들          3      남   100161       None       요요기획
1      더 블루          2      남   180144       None         SM
2         잼          5      혼   225786       None     DSP미디어

In [42]:
info1.head(3)

     artist       artist_m debut_y  debut_t    fan
0  서태지와 아이들  서태지, 양현석, 이주노    1992    난 알아요  4,893
1      더 블루       손지창, 김민종    1922  너만을 느끼며    474
2         잼                    NaN      NaN     19

In [43]:
# fan에 쉼표가 있기 때문에 드롭하고 int로 변경해주기
info1['fan'] = info1['fan'].str.replace(',', '', regex=False)
info1['fan'] = info1['fan'].astype(int)
idol_withid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 6 columns):
index         332 non-null int64
artist        332 non-null object
member_num    332 non-null object
gender        331 non-null object
agency        313 non-null object
idol_id       332 non-null int32
dtypes: int32(1), int64(1), object(4)
memory usage: 14.3+ KB

In [44]:
info1.head(3)

     artist       artist_m debut_y  debut_t   fan
0  서태지와 아이들  서태지, 양현석, 이주노    1992    난 알아요  4893
1      더 블루       손지창, 김민종    1922  너만을 느끼며   474
2         잼                    NaN      NaN    19

In [45]:
# combined = id1.join(info1)

combined = pd.merge(id1, info1, on='artist')

In [46]:
combined.tail(20)

,artist,member_num,gender,idol_id,agency_old,agency_new,artist_m,debut_y,debut_t,fan
312,비사이드,5,여,758257,None,인터렉티브미디어믹스,,NaN,NaN,4
313,힌트,7,여,1627831,None,스타프로,"나엘, 소금, 아라, 별아, 체리, 해솔, 혜진",NaN,NaN,192
314,엘리스,5,여,1704756,None,후너스,"소희, 가린, 유경, 혜성, 벨라",2017,우리 처음,2498
315,옆집소녀,7,여,1759536,None,한국방송공사,"슬기 (SEULGI), 문별 (마마무), 유아 (오마이걸), 류수정 (러블리즈), ...",NaN,NaN,3627
316,지지배,4,여,1759736,None,NWSTUDIOS,서진,2017,다 너 때문이야,87
317,애플비,5,여,1865569,None,GH,"샌디, 유림, 유지, 하은, 현민",2017,우쭈쭈,205
318,위키미키,8,여,1816806,None,판타지오,"최유정 (Weki Meki), 김도연 (Weki Meki), 지수연 (Weki Me...",NaN,NaN,7421
319,구구단 오구오구,2,여,1867147,None,젤리피쉬,"미나, 혜연",2017,ICE CHU,1541
320,에스아이에스,6,여,1868086,None,더블엑스,"지해, 달, 민지, 가을, 앤, 세빈",2017,느낌이 와,431
321,굿데이,10,여,1907765,None,C9,"희진 (GOOD DAY), 지니, 체리, 채솔, 하은, 비바, 나윤, 지원, 보민, 럭키",2017,Rolly,603
322,이달의 소녀 오드아이써클,3,여,1910699,None,블록베리크리에이티브,"김립 (이달의 소녀), 진솔 (이달의 소녀), 최리 (이달의 소녀)",2017,NaN,3077
323,유앤비,9,남,2111640,None,MBK,"준 (U-Kiss), 의진, 호정, 필독 (BIGSTAR), 마르코, 지한솔, 대원...",2018,감각,3063
324,프로미스나인,9,여,2019210,None,스톤뮤직,"노지선, 송하영, 이새롬, 이채영, 이나경, 박지원, 이서연, 백지헌, 장규리",NaN,NaN,5108
325,오마이걸 반하나,3,여,2112888,None,WM,"효정 (오마이걸), 비니 (오마이걸), 아린 (오마이걸)",2018,NaN,3392
326,(여자)아이들,6,여,2137482,None,큐브,"소연, 미연, 수진, 우기, 슈화, 민니",2018,NaN,16884
327,유니티,9,여,2111639,None,MBK,"의진, 예빈 (다이아), 앤씨아, 윤조, 이현주, 양지원 (스피카), 우희 (달샤벳...",2018,NaN,1691
328,프리스틴 V,5,여,2139823,None,플레디스,"나영, 결경, 로아, 은우, 레나",2018,NaN,1944
329,스트레이 키즈,9,남,2006344,None,JYP,"방찬 (3RACHA), 우진, 리노, 창빈 (3RACHA), 현진, 한 (3RACH...",2017,NaN,7549
330,구구단 세미나,3,여,2203723,None,젤리피쉬,"세정 (구구단), 미나, 나영",NaN,NaN,1634
331,소녀시대 오지지,5,여,2296946,None,SM,"태연 (TAEYEON), 써니 (SUNNY), 유리 (YURI), 효연 (HYOYE...",NaN,NaN,5795

In [47]:
combined[combined.artist == '방탄소년단']

,artist,member_num,gender,idol_id,agency_old,agency_new,artist_m,debut_y,debut_t,fan
198,방탄소년단,7,남,672375,None,빅히트,"RM, SUGA, 진, j-hope, 지민, V, 정국",2013,No More Dream,518210

In [48]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 332 entries, 0 to 331
Data columns (total 10 columns):
artist        332 non-null object
member_num    332 non-null object
gender        331 non-null object
idol_id       332 non-null int32
agency_old    10 non-null object
agency_new    313 non-null object
artist_m      332 non-null object
debut_y       274 non-null object
debut_t       219 non-null object
fan           332 non-null int32
dtypes: int32(2), object(8)
memory usage: 25.9+ KB

In [49]:
combined.columns[0:]

Index(['artist', 'member_num', 'gender', 'idol_id', 'agency_old', 'agency_new',
       'artist_m', 'debut_y', 'debut_t', 'fan'],
      dtype='object')

In [155]:
# combined.rename(columns={ combined.columns[5]: "drop" })

In [156]:
# combined = combined.drop(combined.columns[5], axis=1)
# combined.head()

In [50]:
combined.to_csv('artist_info_combined_ver01.csv')